#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('../../data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [2]:
df.groupby('Branch')['Total'].sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

Наприбутковішим є філіал С.

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [3]:
df.groupby('City')['Total'].sum()

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

Найприбутковіший філіал знаходиться в місті Naypyitaw

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [5]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Total', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [7]:
invoices_by_category.sort_values('Electronic accessories', ascending=False).head(1)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Гіпотеза 1: Перевірити як розраховуються покупці. Можливо в деяких магазинах не працються термінали або не завжди є решта на касі.

In [15]:
pd.pivot_table(df, index='City', columns='Payment', values='Total', aggfunc='sum')

Payment          Cash  Credit card    Ewallet
City
Mandalay   35339.4615   37344.8565  33513.354
Naypyitaw  43085.8575   30327.4650  37155.384
Yangon     33781.2510   33094.7505  39324.369

В місті-лідері по продажам Naypyitaw найбільше розраховуються готівкою. Можливо в інших містах варто перевірити наявність готівки в касах для решти.

Гіпотеза 2: Перевірити, яка стать більше купує товарів і в якій категорії. Це дасть розуміття, яку рекламу в кожній категорії краще спрамовувати на яку стать.

In [11]:
pd.pivot_table(df, index='Gender', columns='Product line', values='Total', aggfunc='sum')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0225,30437.400,33170.9175,18560.9865,30036.8775,28574.7210
Male,27235.5090,23868.495,22973.9265,30632.7525,23825.0355,26548.1055

В категоріях: Fashion accessories, Food and beverages, Home and lifestyle - більше купують жінки, в категорії Health and beauty - більше купують чоловіки. В інших категоріях розподіл майде однаковий. Думаю, в категорії Health and beauty можна зробити або більше акції спрамованихна жінок, або розширити асортимен товарів на жіночу категорію населення.

Гіпотеза 3: Перевірити, хто більше купує члени чи звичайні покупці. Якщо більше купують звичайні покупці, то потрібно провести маркетингову кампанію про приєднання більшої кількості клієнтів до членства, якщо члени, то це говорить про лояльність клієнтів до мережі

In [19]:
pd.pivot_table(df, index='City', columns='Customer type', values='Total', aggfunc='sum')

Customer type      Member     Normal
City
Mandalay       53704.6860  52492.986
Naypyitaw      56881.2825  53687.424
Yangon         53637.4755  52562.895

Розподіл витрат між члемами і звичайними покупцями у двох містаї не значна, а от в місті Naypyitaw (яке являється лідером в прибутковості), більше купують члени мережі. Отже менеджерам двох інших міст потрібно провести захожи чи можливо, щоб продавці більше розповідали про вигоди членства в мережі.